@model final_project.Models.CategoryModel

@{
    ViewData["Title"] = "Създаване на категория";
}

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form method="post" asp-controller="Category" asp-action="CreateCategory">
                <h2 class="text-center">Създаване на категория</h2>
                <div class="from-group">
                    <label for="name">Име на категорията: </label>
                    <input type="text" asp-for="Name" id="name" class="form-control" placeholder="Въведете име на категорията"/>
                    <p class="mt-1">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </p>
                </div>
                <div class="form-group my-3">
                    <input type="submit" class="btn btn-primary form-control" value="Създаване">
                </div>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>