@model final_project.Data.Entities.User

@{
    ViewData["Title"] = "Успешна поръчка";
}

<h1 class="text-center my-5">Плащането е успешно</h1>
<form method="post" asp-controller="Order" asp-action="RegisterCardOrder">
    <input type="text" class="d-none" asp-for="UserName">
    <div class="text-center">
        <input type="submit" value="Продължете напред" class="btn btn-secondary mb-3">
    </div>
</form>