@model final_project.Helpers.PaginationProperties

@{
    var queryParameters = (Dictionary<string, string>)ViewData["QueryParameters"]!;
}

<nav>
    <ul class="pagination">
        @if (Model.PreviousPage != 0)
        {
            var parameters = queryParameters;
            parameters["Page"] = Model.PreviousPage.ToString();
            parameters["SortOrder"] = ViewBag.SortOrder;
            parameters["MinPriceFilter"] = ViewBag.MinPriceFilter != null ? ViewBag.MinPriceFilter.ToString() : string.Empty;
            parameters["MaxPriceFilter"] = ViewBag.MaxPriceFilter != null ? ViewBag.MaxPriceFilter.ToString() : string.Empty;
            parameters["ManufacturerFilter"] = ViewBag.ManufacturerFilter != null ? ViewBag.ManufacturerFilter : string.Empty;
            parameters["Category"] = ViewBag.Category != null ? ViewBag.Category : string.Empty;
            <li class="page-item"><a asp-all-route-data="parameters" class="page-link">Предишна</a></li>
        }
        @for (int i = Model.PageSpanStart; i <= Model.PageSpanEnd; i++)
        {
            if (Model.CurrentPage == i)
            {
                <li class="page-item active"><a class="page-link active">@Model.CurrentPage</a></li>
            }
            else
            {
                var parameters = queryParameters;
                parameters["Page"] = i.ToString();
                parameters["SortOrder"] = ViewBag.SortOrder;
                parameters["MinPriceFilter"] = ViewBag.MinPriceFilter != null ? ViewBag.MinPriceFilter.ToString() : string.Empty;
                parameters["MaxPriceFilter"] = ViewBag.MaxPriceFilter != null ? ViewBag.MaxPriceFilter.ToString() : string.Empty;
                parameters["ManufacturerFilter"] = ViewBag.ManufacturerFilter != null ? ViewBag.ManufacturerFilter : string.Empty;
                parameters["Category"] = ViewBag.Category != null ? ViewBag.Category : string.Empty;
                <li class="page-item"><a asp-all-route-data="parameters" class="page-link">@i</a></li>
            }
        }
        @if (Model.NextPage != 0)
        {
            var parameters = queryParameters;
            parameters["Page"] = Model.NextPage.ToString();
            parameters["SortOrder"] = ViewBag.SortOrder;
            parameters["MinPriceFilter"] = ViewBag.MinPriceFilter != null ? ViewBag.MinPriceFilter.ToString() : string.Empty;
            parameters["MaxPriceFilter"] = ViewBag.MaxPriceFilter != null ? ViewBag.MaxPriceFilter.ToString() : string.Empty;
            parameters["ManufacturerFilter"] = ViewBag.ManufacturerFilter != null ? ViewBag.ManufacturerFilter : string.Empty;
            parameters["Category"] = ViewBag.Category != null ? ViewBag.Category : string.Empty;
            <li class="page-item"><a asp-all-route-data="parameters" class="page-link">Следваща</a></li>
        }
    </ul>
</nav>