@model final_project.Models.RegisterModel

@{
    ViewData["Title"] = "Нов профил";
}

@* TODO: style the form *@

<div class="container-fluid my-5">
    <div class="row row-cols-1 row-cols-xl-3">
        <div class="col"></div>
        <div class="col">
            <form method="post" asp-controller="Authentication" asp-action="Register">
                <div class="log-reg-bgcolor px-5 py-4 rounded-huge">
                    <img src="/img/logo.png" alt="logo" class="card-img-top-custom">
                    <h2 class="text-center text-navbar mb-4">Регистрация</h2>
                    <div class="form-group">
                        <label asp-for="FirstName" for="firstname" class="text-navbar mb-1"></label>
                        <span class="text-danger">*</span>
                        <input type="text" asp-for="FirstName" id="firstname" class="form-control">
                        <p class="mt-1">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </p>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" for="lastname" class="text-navbar mb-1"></label>
                        <span class="text-danger">*</span>
                        <input type="text" asp-for="LastName" id="lastname" class="form-control">
                        <p class="mt-1">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </p>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" for="address" class="text-navbar mb-1"></label>
                        <span class="text-danger">*</span>
                        <input type="text" asp-for="Address" id="address" class="form-control">
                        <p class="mt-1">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </p>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" for="email" class="text-navbar mb-1"></label>
                        <span class="text-danger">*</span>
                        <input type="text" asp-for="Email" id="email" class="form-control">
                        <p class="mt-1">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </p>
                    </div>
                    <div class="form-group">
                        <label asp-for="Username" for="username" class="text-navbar mb-1"></label>
                        <span class="text-danger">*</span>
                        <input type="text" asp-for="Username" id="username" class="form-control">
                        <p class="mt-1">
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </p>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" for="password" class="text-navbar mb-1"></label>
                        <span class="text-danger">*</span>
                        <input type="password" asp-for="Password" id="password" class="form-control">
                        <div class="text-navbar mt-1">Паролата трябва да съдържа поне 6 символа, в които да има главна и малка буква и цифра!</div>
                        <p class="mt-1">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </p>
                    </div>
                    <div class="form-group">
                        <label asp-for="RepeatPassword" for="repeatPassword" class="text-navbar mb-1"></label>
                        <span class="text-danger">*</span>
                        <input type="password" asp-for="RepeatPassword" id="repeatPassword" class="form-control">
                        <p class="mt-1">
                            <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                        </p>
                    </div>
                    <div class="form-group d-none">
                        <input type="hidden" asp-for="BeforePath" class="form-control">
                    </div>
                    <div class="">
                        <span class="text-navbar">Имате профил?</span>
                        @Html.ActionLink("Вход", "Login", "Authentication", new { beforePath = Model.BeforePath == null ? "" : Model.BeforePath }, new { @class = "text-decoration-none color-log-reg hover-underline" })
                    </div>
                    <div class="text-center mt-4">
                        <input type="submit" class="btn btn-log-reg text-navbar" value="Регистрация">
                    </div>
                </div>
            </form>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>