@{
    ViewData["Title"] = "Контакти";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="text-center my-5">Контакти</h2>
            <div class="text-center mb-3 h4"><i class="fa-solid fa-phone"></i> Телефон: 0887161628</div>
            <div class="text-center mb-3 h4"><i class="fa-solid fa-envelope"></i> Имейл: viktorivanov_e18@schoolmath.eu</div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>