@{
    ViewData["Title"] = "Начална страница";
}

<div style="background: url('img/back2.png') no-repeat center center fixed;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 79.4vh;" class="container-fluid">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 px-5">
            <h1 class="text-center text-navbar my-5 mx-5 pt-2">The Cue Corner</h1>
            <p class="text-center text-navbar h3 mb-5 pt-5">Заповядайте в новия онлайн магазин за снукър и билярд артикули</p>
            <p class="text-center text-navbar h5 lh-base pt-5">Тук можете да откриете страхотно разнообразие от стоки и артикули нужни за вашето хоби. Няма значение дали сте фенове на снукъра или билярда, Вие можете да откритете всичко на един клик разстояние. Няма нужда да поръчвате от чужбина и да се притеснявате за пратки, които не знаете дали ще пристигнат. При нас всичко е лесно и пристига до дома Ви.</p>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>