@{
    ViewData["Title"] = "Поръчки";
}


<div class="container my-5">
    <div class="text-center">
        <div>@Html.ActionLink("Управление на заплащането на поръчки", "PaymentOrders", "Admin", new { }, new { @class = "btn btn-secondary mb-3" })</div>
        <div>@Html.ActionLink("Управление на състоянието на поръчки", "StatusOrders", "Admin", new { }, new { @class = "btn btn-secondary mb-3" })</div>
    </div>
</div>