@{
    ViewData["Title"] = "Администраторски панел";
}

<div class="container">
    @Html.ActionLink("Управление на продукти", "ListProducts", "Product", "", new { @class = "btn btn-primary" })
    @Html.ActionLink("Управление на производители", "Index", "Manufacturer", "", new { @class = "btn btn-primary" })
    @Html.ActionLink("Управление на категории", "Index", "Category", "", new { @class = "btn btn-primary" })
    @Html.ActionLink("Управление на заплащането на поръчки", "PaymentOrders", "Admin", "", new { @class = "btn btn-primary" })
</div>