@{
    ViewData["Title"] = "Admin panel";
}

<div class="container">
    @Html.ActionLink("Manage Products", "ListProducts", "Product", "", new { @class = "btn btn-primary" })
    @Html.ActionLink("Manage Manufacturer", "Index", "Manufacturer", "", new { @class = "btn btn-primary" })
    @Html.ActionLink("Manage Orders", "Orders", "Admin", "", new { @class = "btn btn-primary" })
    @Html.ActionLink("Manage Categories", "Index", "Category", "", new { @class = "btn btn-primary" })
</div>