@{
    ViewData["Title"] = "Управление на плащанията";
}

<div class="container my-5">
    <div class="text-center">
        <div>@Html.ActionLink("Неплатени поръчки", "UnpayedOrders", "Admin", new { }, new { @class = "btn btn-secondary mb-3" })</div>
        <div>@Html.ActionLink("Платени поръчки", "PaidOrders", "Admin", new { }, new { @class = "btn btn-secondary mb-3" })</div>
    </div>
    <div class="text-center">
        @Html.ActionLink("Обратно към поръчките", "Orders", "Admin", new { }, new { @class = "btn btn-primary my-3" })
    </div>
</div>