@{
    ViewData["Title"] = "Поръчки";
}

<div class="container my-5">
    <div class="text-center">
        <div>@Html.ActionLink("Управление на поръчки, които се обработват", "OrderForSending", "Admin", new { }, new { @class = "btn btn-secondary mb-3" })</div>
        <div>@Html.ActionLink("Управление на поръчки, които са изпратени", "SentOrders", "Admin", new { }, new { @class = "btn btn-secondary mb-3" })</div>
        <div>@Html.ActionLink("Управление на завършени поръчки", "FinishedOrders", "Admin", new { }, new { @class = "btn btn-secondary mb-3" })</div>
    </div>
    <div class="text-center">
        @Html.ActionLink("Обратно към поръчките", "Orders", "Admin", new { }, new { @class = "btn btn-primary my-3" })
    </div>
</div>