@model final_project.Models.ProductModel

@{
    ViewData["Title"] = "Създаване на продукт";
}
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form method="post" enctype="multipart/form-data" asp-controller="Product" asp-action="CreateProduct">
                <h2 class="text-center mt-5 mb-4">Създаване на продукт</h2>
                <div class="form-group my-4">
                    <label for="name">Име на продукта: </label>
                    <input type="text" asp-for="Name" id="name" class="form-control" placeholder="Въведете име на продукта"/>
                    <p class="mt-1">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </p>
                </div>
                <div class="form-group my-4">
                    <label for="description">Описание на продукта: </label>
                    <input type="text" asp-for="Description" id="description" class="form-control" placeholder="Въведете описание на продукта"/>
                    <p class="mt-1">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </p>
                </div>
                <div class="form-group my-4">
                    <label for="stock">Количество от продукта: </label>
                    <input type="number" min="0" asp-for="Stock" id="stock" class="form-control" placeholder="Въведете количество на продукта"/>
                    <p class="mt-1">
                        <span asp-validation-for="Stock" class="text-danger"></span>
                    </p>
                </div>
                <div class="form-group my-4">
                    <label for="price">Цена на продукта: </label>
                    <input type="number" min="0" step="0.01" asp-for="Price" id="price" class="form-control" placeholder="Въведете цена на продукта"/>
                    <p class="mt-1">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </p>
                </div>
                <div class="form-group my-4">
                    <label for="image">Снимка на продукта: </label>
                    <input type="file" accept="image/*" asp-for="Image" id="image" class="form-control"/>
                    <p class="mt-1">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </p>
                </div>
                <div class="form-group my-4">
                    <label for="manufacturer">Производител на продукта: </label>
                    <select asp-for="ManufacturerId" id="manufacturer" class="form-control">
                        @foreach (var elem in Model.Manufacturers!)
                        {
                            <option value="@elem.Id">@elem.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group my-4">
                    <label for="manufacturer">Категория на продукта: </label>
                    <select asp-for="CategoryId" id="category" class="form-control">
                        @foreach (var elem in Model.Categories!)
                        {
                            <option value="@elem.Id">@elem.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group my-4">
                    <input type="submit" class="btn btn-primary form-control" value="Създаване">
                </div>
            </form>
            <div class="form-group text-center mb-5">
                <a class="btn btn-primary" href="/Product/ListProducts">Назад към всички продукти</a>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>