@model final_project.ViewModels.ReturnPaginatedProductsViewModel

@{
    ViewData["Title"] = "Продукти";
    var parameters = new Dictionary<string, string>();
}

@* filter form *@
@* TODO: design changes *@

<div class="container-fluid">
    <div class="row d-flex flex-column align-items-center">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <h2 class="text-center mt-4 mb-5">Продукти</h2>
            <div class="mb-4">
                @{
                    parameters["MinPriceFilter"] = ViewBag.MinPriceFilter != null ? ViewBag.MinPriceFilter.ToString() : "0";
                    parameters["MaxPriceFilter"] = ViewBag.MaxPriceFilter != null ? ViewBag.MaxPriceFilter.ToString() : "20000";
                    parameters["ManufacturerFilter"] = ViewBag.ManufacturerFilter != null ? ViewBag.ManufacturerFilter : string.Empty;
                    parameters["Category"] = ViewBag.Category != null ? ViewBag.Category : string.Empty;
                    parameters["SortOrder"] = ViewBag.SortOrder != null ? ViewBag.SortOrder : string.Empty;
                }
                <form id="form" method="post" asp-action="Index" asp-controller="Product" asp-all-route-data="parameters">
                    @Html.DropDownList("sortOrder", new SelectList(
                        new List<SelectListItem>
                        {
                            new SelectListItem { Text = "Азбучен ред", Value = "name_asc" },
                            new SelectListItem { Text = "Азбучен ред (низходящ)", Value = "name_desc" },
                            new SelectListItem { Text = "Цена (възходящо)", Value = "price_asc" },
                            new SelectListItem { Text = "Цена (низходящо)", Value = "price_desc" }
                        }, "Value", "Text", ViewBag.SortOrder), new { onchange = "this.form.submit();", @class = "btn btn-secondary dropdown-toggle mb-4" })
                </form>
            </div>
        </div>
        <div>
            <div class="m-auto">
                @using (Html.BeginForm("Index", "Product", "", FormMethod.Post, true, new { @class = "d-flex flex-column align-items-center justify-content-between" }))
                {
                    <div class="mb-3">
                        <label>Производител: </label>
                        @Html.DropDownList("manufacturerFilter", ViewBag.Manufacturers as SelectList, "Всички", new{@class="btn btn-secondary dropdown-toggle"})
                    </div>
                    <div class="range-slider mb-4">
                        <label class="text-center mb-1">Ценови диапазон: </label>
                        <span class="rangeValues"></span>
                        <input min="0" max="20000" step="50" type="range" id="minPriceFilter" name="minPriceFilter" value="@parameters["MinPriceFilter"]">
                        <input min="0" max="20000" step="50" type="range" id="maxPriceFilter" name="maxPriceFilter" value="@parameters["MaxPriceFilter"]">
                    </div>
                    <button type="submit" asp-all-route-data="parameters" class="btn btn-secondary">Филтриране</button>
                }
            </div>
        </div>
        <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">
            <div class="row row-cols-1 row-cols-xs-2 row-cols-md-2 row-cols-xl-4 g-3">
                @foreach (var product in Model.Products)
                {
                    <partial name="_ProductInformationTemplate" model="product"/>
                }
            </div>
            <div class="d-flex justify-content-center mt-5">
                <partial name="_Pagination" model="Model.PaginationProperties"/>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<script>
    function submit(){
        document.getElementById("form").submit();
    }
    
    function getVals(){  
        let parent = this.parentNode;
        let slides = parent.getElementsByTagName('input');
      
        let slide1 = parseFloat( slides[0].value );
        let slide2 = parseFloat( slides[1].value );
        
        if( slide1 > slide2 ){ let tmp = slide2; slide2 = slide1; slide1 = tmp; }
      
        let displayElement = parent.getElementsByClassName('rangeValues')[0];
      
        displayElement.innerHTML = slide1 + " лв." + " – " + slide2 + " лв.";
    }
    
    window.onload = function(){
        let sliderSections = document.getElementsByClassName("range-slider");
        for(let x = 0; x < sliderSections.length; x++){
            let sliders = sliderSections[x].getElementsByTagName("input");
            for( let y = 0; y < sliders.length; y++ ){
                if( sliders[y].type === "range"){
                    
                sliders[y].oninput = getVals;
                sliders[y].oninput();
              }
            }
        }
    }
</script>